<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-mail Confirmado</title>
</head>
<body>
  <h1>E-mail Confirmado com Sucesso!</h1>
  <p><%= message %></p>
  <a href="/login">Ir para a página de login</a>
</body>
</html>
